node_modules
dist
dev-dist
*.log
.DS_Store
.env.local
.env.*.local

# Native build output
dist-native
build
ios/App/App/public
ios/App/App/capacitor.config.json
fastlane/report.xml
fastlane/README.md
